.destinations {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-self: auto;
    align-items: center;
    padding: 0 6px;
    box-sizing: border-box;
    text-align: center;
    width: 50px;
}

.hero:first-child:nth-last-child(1) {
    flex-basis: 100%;
}

.hero:first-child:nth-last-child(2),
.hero:first-child:nth-last-child(2) ~ .hero {
    flex-basis: 50%;
}

.hero:first-child:nth-last-child(3),
.hero:first-child:nth-last-child(3) ~ .hero {
    flex-basis: 33.33%;
}

.hero:first-child:nth-last-child(4),
.hero:first-child:nth-last-child(4) ~ .hero {
    flex-basis: 25%;
}

.hero:first-child:nth-last-child(5),
.hero:first-child:nth-last-child(5) ~ .hero {
    flex-basis: 20%;
}

.hero:first-child:nth-last-child(n+6),
.hero:first-child:nth-last-child(n+6) ~ .hero {
    flex-basis: 16.66%;
}

.hero img {
    border:none;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
}

.hero label {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .token {
    margin-bottom: 5px;
}

.hero .name { 
    min-width: 20px;
    display: block;
}


.pf2eawardxp .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.pf2eawardxp .form-group label {
    margin-right: 10px;
    text-align: right;
    flex:0;
    width:200px;
}

.pf2eawardxp .form-group select {
    width: 250px;
    flex:1;
    max-width: 300px;

}

.pf2eawardxp .form-group input {
    width: 250px;
    flex:1;
    max-width: 300px;
}

.pf2eawardxp .xp-block {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.pf2eawardxp .xp-text {
    font-weight: bold;
}

.pf2eawardxp .xp-image {
    margin: 10px 10px 10px 10px;
    width:45px;
    height: 45px;
    border: none;
}

.pf2eawardxp .recipients-block {
    margin-top: 20px;
}

.pf2eawardxp .recipient-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pf2eawardxp .recipient-list li {
    display: inline;
    margin-right: 10px;
}

.pf2eawardxp .encounter-toggle {
    margin-bottom: 10px;
    padding: 0px;
}

.encounter-toggle label {
    display: flex;
    align-items: center;
    font-weight: normal;
    margin: 0;
    width: auto;
    justify-content: flex-start;
    line-height: normal;
    padding: 0;
}

#encounter-only {
    width: auto;
    flex: none;
    margin: 0 8px 0 0;
    font: 14px !important;
    height: auto !important;
    line-height: normal !important;
}

.pf2eawardxp .online-players-toggle {
    margin-bottom: 10px;
    padding: 0px;
}

.online-players-toggle label {
    display: flex;
    align-items: center;
    font-weight: normal;
    margin: 0;
    width: auto;
    justify-content: flex-start;
    line-height: normal;
    padding: 0;
}

#online-players-only {
    width: auto;
    flex: none;
    margin: 0 8px 0 0;
    font: 14px !important;
    height: auto !important;
    line-height: normal !important;
}

.input-with-suffix {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-with-suffix input {
    padding-right: 35px;
}

.input-suffix {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none;
    font-size: 14px;
}

.form-group-horizontal {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-group-horizontal .reason-select {
    flex: 2;
    min-width: 200px;
}

.form-group-horizontal .xp-input {
    flex: 1;
    min-width: 170px;
}

div > b {
    display: block;
    margin-bottom: 10px !important;
}

.form-group.form-group-horizontal {
    margin-bottom: 10px !important;
}

.pf2e_awardxp_description.form-group {
    margin-bottom: 10px !important;
}

#award-xp-floating-button {
    width: 32px;
    height: 32px;
}